*{
	padding: 0%;
	margin: 0px;
}


body{
	background-image: url(../imagen/fondo.jpg);
	background-attachment: fixed;
	}
header{
	background:;
	border-radius:0px 0px 30px 0px;
	width: 1285px;
	position: relative;
	left: 42px;
	height: 70px;
}
header h1{
	text-align:center;
	color: black;
	position: absolute;background-size: cover;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
	top: 30px;
	left: 200px;
	
}
@font-face{
 	font-family: "Signatra";
 	src: url(Signatra.otf);
}
@font-face{
 	font-family: "Breakout";
 	src: url(Breakout.ttf);
}



.text{
	height: 50px;
	width: 370px;
	color: black;
	position: relative;
	top:-300px;
	background:rgba(173, 216, 230,14); 
	border-radius: 5px;
	text-align: center;
	left: 130px;
	
}
.infi{
	height: 250px;
	width: 505px;
	position: relative;
	top: -280px;
	text-align: center;
	left: 60px;
	color: black;
	border-radius: 5px;
	background:rgba(173, 216, 230,14); 
		font-size:18px;
}
.text1{
	height: 40px;
	width: 370px;
	color: black;
	position: relative;
	top:-250px;
	background:rgba(173, 216, 230,14); 
	border-radius: 5px;
	text-align: center;
	left: 130px;
	
}
.infi1{
	height: 150px;
	width: 505px;
	position: relative;
	top: -230px;
	text-align: center;
	left: 60px;
	color: black;
	border-radius: 5px;
	background:rgba(173, 216, 230,14); 
		font-size:18px;
}

img{
	width: 900px;
	height: 125px;
	left: 220px;
	top: -10px;
	margin-left: -20px;
	position: relative;
	margin-top: 5px;
	}
.ima img {
	width: 400px;
	height: 300px;
	left: 750px;
	top: 50px;
	}

.imag img {
	width: 400px;
	height: 300px;
	left: 750px;
	top: -470px;
	}
.audi audio{
	left: 100px;
	position: relative;
	top:-200px;
	}
	video {
	height: 300px;
	width: 460px;
	position: relative;
	top: 160px;
	left: 350px;
	
		}

.sticky-container{
    padding:0px;
    margin:0px;
    position: fixed;
    right:-130px;
    top:250px;
    width:170px;
    z-index: 100;
}
.sticky li{
    list-style-type:none;
    background:rgba(173, 216, 230,14); 
    opacity:2;
    height:43px;
    width: 43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-10px;
}
.sticky li img{
    left: 1px;
    top: 1px;
    margin:5px 4px;
    margin-right:5px;
    height:32px;
    width: 32px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:white;
}
.sticky li p a:hover{
    text-decoration:underline;
}
footer{
	width: 100%;
	height: 120px;
	top: 1158px;
	font-size: 18px;
	position:absolute;
	background:rgba(0,0,0,0.2);
	padding-top:20px; 
	text-align: center;
	color: white;
	font-family:Signatra;
}